# Replace this with your personal access token from demo.firefly-iii.org
FIREFLY_URL=https://demo.firefly-iii.org
FIREFLY_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIzIiwianRpIjoiYjg0YzEzYTBiYzBhZThmZDQ2NzcwZDllZGFlMDcxOThhMzJiZDI2NjI4ZGZjM2M1Y2M2NWIxMGNlOTRkZmNjOWZjY2QyZDczNzUyYWVjODIiLCJpYXQiOjE3NTE3NDI4MzIuMjU4NTIzLCJuYmYiOjE3NTE3NDI4MzIuMjU4NTI3LCJleHAiOjE3ODMyNzg4MzIuMDI2Nywic3ViIjoiMSIsInNjb3BlcyI6W119.HnB4LH7ry59euJ9ORD0QCYhY9CYj9FowzPbLiwaJgEwz_L4ZuPdswIDRVqQ7bPbcol7DIljtTzXJSkty3MNA8USyb3EXliaWZZQZh91y_chV6-yq3zGiqWmjTbnR2-akeGylrWYH-t8hlh3JAyCrG4VZEj6XnXKokTUvKl7970LcFq5ev8ENwh-dmkJvm_UxgZBZ_KSDm-oXE28ulbyPXCWJzPT4OCA1xQ3nTZrfCU04OlV1d3aCmbI6SObF0YQACGRpsi68MjruiLQQFPBjSTzIDhYnK3kw8xL1jcrfpwOAdkS4mDc_tFwiNYcYCgrZb3eJ90HE0J8HS04ohS9cXgruM0eG0vRE8TdcqPwECpg5NEynYNzq_Idq1iqvhfp8HoIkj1fAsLWQoMOVPGe1QjyqHDwvGTiv929LsKD5qcQwJJcpqurr4QLnGtlvWMhxCVqDDJ2KW-W8Sksm7uIZa4ve1d6hKx1Sh10LxEkuANBAV0Jm1j7pON5BPG_GzyTtEAGaZ45ymuJu-LWRKi1kvk51YQKYZxUDTaO5iI84qKYWhkM_-1QKS7gFb7Fyzj7jAO7DwP3K69kaQE-PMC_ubkFEuyuir5PFhe05r3jnRzdvnMwKDX-VJkuJS7MiRgtnFsZtyVAW9Omqc2bI4njgfnT7Bp0FXa3QNfNvse8Okn0